<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.eclipse.core.runtime.adapters">
        <factory
            class="org.nodeclipse.debug.model.BreakpointAdapterFactory"
            adaptableType="org.eclipse.ui.texteditor.ITextEditor">
          <adapter type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget" /> 
        </factory>
    </extension>

	<extension 
          point="org.eclipse.debug.core.launchConfigurationTypes"> 
        <launchConfigurationType 
            delegate="org.nodeclipse.debug.launch.LaunchConfigurationDelegate" 
            id="org.nodeclipse.debug.launch.LaunchConfigurationType" 
            modes="run, debug" 
            name="Node Application">
        </launchConfigurationType> 
	    <launchConfigurationType
	        id="org.nodeclipse.debug.launch.LaunchType$StandaloneV8"
	        delegate="org.nodeclipse.debug.launch.StandaloneV8LaunchTypeWrapper"
	        modes="debug"
	        name="V8 debugger for node"
	        delegateName="Debug Standalone V8 JavaScript"
	        delegateDescription="JavaScript debugger for Standalone V8"
	        sourceLocatorId="org.chromium.debug.core.ChromiumSourceDirector"
	        sourcePathComputerId="org.chromium.debug.core.ChromiumSourceComputer">
	    </launchConfigurationType>
    </extension>
    <extension
          point= "org.eclipse.debug.ui.launchConfigurationTypeImages" >   
       <launchConfigurationTypeImage   
             configTypeID= "org.nodeclipse.debug.launch.LaunchConfigurationType"   
             icon= "icons/node.png"   
             id= "org.nodeclipse.debug.launch.LaunchConfigurationTypeImage" >   
       </launchConfigurationTypeImage>   
       <launchConfigurationTypeImage   
             configTypeID= "org.nodeclipse.debug.launch.LaunchType$StandaloneV8"   
             icon= "icons/node.png"   
             id= "org.nodeclipse.debug.launch.LaunchConfigurationTypeImage" >   
       </launchConfigurationTypeImage>   
    </extension>  
    <extension   
          point= "org.eclipse.debug.ui.launchShortcuts" >   
       <shortcut   
             class= "org.nodeclipse.debug.launch.LaunchShortcut"   
             icon= "icons/node.png"
             id= "org.nodeclipse.debug.launch.LaunchShortcut"   
             label= "Node Application"   
             modes= "run, debug" >   
          <configurationType
                id= "org.nodeclipse.debug.launch.LaunchConfigurationType" >
          </configurationType>   
           <contextualLaunch>   
              <enablement>   
                 <with   
                       variable= "selection" >   
                    <count   
                          value= "1" >   
                    </count>   
                    <iterate>   
                       <or>   
                          <test   
                                property= "org.eclipse.debug.ui.matchesPattern"   
                                value= "*.js" >   
                          </test>   
                       </or>   
                      </iterate>   
                     
                 </with>   
              </enablement>   
           </contextualLaunch>   
       </shortcut>   
   </extension>
   <extension
        point="org.eclipse.debug.ui.launchConfigurationTabGroups">
        <launchConfigurationTabGroup   
       		class= "org.nodeclipse.debug.launch.LaunchConfigurationTabGroup"   
      		id= "org.nodeclipse.debug.launch.LaunchConfigurationTabGroup"   
        	type= "org.nodeclipse.debug.launch.LaunchConfigurationType" >   
		</launchConfigurationTabGroup>
	    <launchConfigurationTabGroup
	        type="org.nodeclipse.debug.launch.LaunchType$StandaloneV8"
	        class="org.chromium.debug.ui.launcher.LaunchTabGroup$StandaloneV8"
	        id="org.nodeclipse.debug.launch.LaunchType$StandaloneV8TabGroup">
	    </launchConfigurationTabGroup>
   </extension>
</plugin>
